.article{
  width: 960px;
  margin: 0 auto;
  height: 800px;
  padding: 40px;
  font: 18px/1.5 'Microsoft YaHei';
  overflow: hidden;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center center;
  background-size: cover;
}
.section1{
  background-image: url( http://atyun-api-sit.oss-cn-shanghai.aliyuncs.com/uploads/user_0/image/file/7/bgb.jpg);
}
.section2{
  background-image: url( http://atyun-api-sit.oss-cn-shanghai.aliyuncs.com/uploads/user_0/image/file/18653/449bbcb0-619a-4c45-b30c-b4b2a460de2b.jpg);
}
.section3{
  background-image: url( http://atyun-api-sit.oss-cn-shanghai.aliyuncs.com/uploads/user_0/image/file/11870/adfe392d-122f-4fae-a873-8b2cfd3a7ca6.jpg);
}
.title{
  font: 32px/1.5 '微软雅黑';
  position: relative;
  top: 360px;
  visibility: hidden;
}
.content{
  position: relative;
  top: 380px;
  left: 1024px;
  color: #777;
}
.section1 .title{
  color: white;
}
.section2 .title{
  color: #FF8500;
}
.section3 .title{
  opacity: 0;
  top: 360px;
  color: #747474;
}
.title-anim{
  visibility: visible;
  -webkit-transition : all 1s;
  -moz-transition : all 1s;
  -ms-transition : all 1s;
  transition : all 1s;
}
.title-anim2{
  visibility: visible;
  opacity: 1!important;
  -webkit-transition : all 2s;
  -moz-transition : all 2s;
  -ms-transition : all 2s;
  transition : all 2s;
}
.content-anim{
  left: 0px;
  -webkit-transition : all 1s;
  -moz-transition : all 1s;
  -ms-transition : all 1s;
  transition : all 1s;
}
