

<div class="button-demo">
  <button (click)="clicked=!clicked" > Hi, I'm a button</button>
</div>

<div class="lightbox"
     [ngClass]="{'lightbox-current': clicked}">
</div>

<div class="button-demo">
  <button (click)="transform=!transform" > Hi, transform</button>
  <div class="transform-one"
       [ngClass]="{'transform-one-animation': transform}">
    ahahaha
  </div>
</div>

<div class="button-demo">
  <button (click)="move=!move" > cubic-bezier</button>
  <div class="transform-move"
       [ngClass]="{'transform-move-animation': move}">
  </div>
  <div class="transform-move transform-move-two"
       [ngClass]="{'transform-move-animation': move}">
  </div>
  <a href="http://cubic-bezier.com/">http://cubic-bezier.com/</a>
</div>

<h1 class="css-animation">css animation</h1>

<!--<h1 class="border-animation">border</h1>-->

<p>
  For a value to be animatable it should be possible to represent all intermediate states
</p>

<img src="../../../Jietu20180801-155705.jpg">

<div class="frame-animation">

</div>

<div class="back">
  <div class="smile">

  </div>
</div>


<div class="demo_box demo_rotate">

</div>



