.button-demo button{
  border-radius: 20px;
  color: white;
  background-color: #800;
  transition: 1s;
}

.button-demo button:hover{
  background-color: red;
  transition: 0s;
}

.lightbox{
  width: 10px;
  height: 10px;
  background: url(http://atyun-api-sit.oss-cn-shanghai.aliyuncs.com/uploads/user_0/content/background/76512/bbdb525f-2e52-4a40-bc6b-66b37396e010.jpg), white;
  background-size: cover;
  box-shadow: 2px 2px 10px black;
  transition: 1s width, 1s 1s height;
}

.lightbox-current{
  width: 400px;
  height: 400px;
}

.transform-one{
  margin-top: 20px;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  transform: scale(0);
  transform-origin: 50%-10px;
  transition: 1s ease-out;
}

.transform-one-animation{
  transform: scale(1);
}

.transform-move{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
  transition: 1s cubic-bezier(.3, .6 , 1, 1)
}

.transform-move-two{
  background-color: green;
  transition: 1s;
}

.transform-move-animation{
  transform: translateX(500px);
}


@keyframes rainbow {
  0% {background: #c00}
  50% {background: orange}
  100% {background: yellowgreen}
}

.css-animation{
  animation: 1s rainbow infinite;
}

@keyframes border {
  from{
    border: 0 solid;
  }
  to {
    border: 10px solid;
  }
}

.border-animation {
  animation: border 1s infinite alternate;
  border-style: solid;
}

@keyframes wave {
  to { background-position: -560px 0 }
}

.frame-animation{
  margin-left: 250px;
  width: 50px; height: 96px;
  background: url(../../../Jietu20180801-155705.jpg) 0 0 ;
  animation: 2s wave infinite steps(10);
}

@keyframes rot {
  to { transform:rotate(360deg); }
}

.back{
  margin-bottom: 500px;
}
.smile {
  margin: 0 auto;
  background-color: blue;
  width: 20px;
  height: 20px;
  animation: rot 6s linear infinite;
  transform-origin: 50% 180px;
}

.transform-back{
  width: 100px;
  height: 100px;
  background-color: #ee66ee;
  transition: 1s ease all;
}

.transform-back :hover{
  transform: rotate(360deg)
}

.demo_rotate{
  -webkit-transition:1s ease all;
  -moz-transition:1s ease all;
  padding:10px;
  margin:90px auto;
}
.demo_rotate:hover{
  -webkit-transform:rotate(360deg) scale(1.2,1.2);
  -moz-transform:rotate(360deg) scale(1.2,1.2);
  background:#ff9900;
}

.demo_box {
  border: 1px solid #3DA5DC;
  background: #a4dcf9;
  height: 100px;
  width: 200px;
  text-align: center;
  color: #fff;
}
