<div class="nav_bar">

  <div class="nav_link">
    <a (click)="logOut()">Login Out</a>
    <img src="https://uploads-global.eqding.com/uploads/user_0/image/file/16240/5fbf0a1d-0da8-4557-aa9c-c9c145026a20.jpg">
  </div>
  <nz-breadcrumb style="display: inline-block;">
    <nz-breadcrumb-item>
      <a routerLink="/dashboard/shop">Shops</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/dashboard/brand">Brands</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/dashboard/product_label">Labels</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/dashboard/document">Documents</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/dashboard/product_category">Product Categories</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/dashboard/product">Products</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<ul nz-menu [nzMode]="'inline'" style="width: 240px; height: 100%; position: fixed; top: 42px;">
  <li nz-menu-item routerLink="/dashboard/product">
    <span title><i nz-icon type="mail"></i> New Product </span>
  </li>
  <li nz-menu-item routerLink="/dashboard/shop">
    <span title><i nz-icon type="mail"></i> Shops </span>
  </li>
  <li nz-menu-item routerLink="/dashboard/brand">
    <span title><i nz-icon type="mail"></i> Brands </span>
  </li>
  <li nz-menu-item routerLink="/dashboard/product_label">
    <span title><i nz-icon type="mail"></i> Labels </span>
  </li>
  <li nz-menu-item routerLink="/dashboard/document">
    <span title><i nz-icon type="mail"></i> Documents </span>
  </li>
  <li nz-menu-item routerLink="/dashboard/product_category">
    <span title><i nz-icon type="mail"></i> Product Categories </span>
  </li>
  <li nz-menu-item routerLink="/dashboard/product">
    <span title><i nz-icon type="mail"></i> Products </span>
  </li>
</ul>

<div style="margin-left: 239px;">
  <router-outlet></router-outlet>
</div>

