@import "item";

.test-back-img{
  margin-top: 200px;
  width: 1000px;
  height: 1000px;
  background-attachment: fixed;
  background-image: url(http://atyun-api-sit.oss-cn-shanghai.aliyuncs.com/uploads/user_0/content/background/76512/bbdb525f-2e52-4a40-bc6b-66b37396e010.jpg)
}

.login-background{
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(https://uploads-global.eqding.com/uploads/user_0/image/file/15842/3283d1be-5fea-4caf-a054-4b1eaaa0f2a5.jpg)
}

.login-content{
  margin: 200px auto;
  min-height: 260px;
  width: 400px;
  padding: 20px 30px 48px;
  border-radius: 5px;
  position: relative;
}

.login-portrait{
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 40%;
}

.login-input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #fff;
  display: block;
  margin: 0 auto;
  padding-left: 20px;
}

.username{
  margin-top: 60px;
}

.password{
  margin-top: 40px;
}

.login-button{
  margin-top: 30px;
  text-align: center;
  button {
    width: 70px;
    height: 25px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #50a3f6;
    cursor: pointer;
    border-radius: 5px;
  }
}

.nav_link{
  margin-left: 20px;
  display: inline-block;
  float: left;
  img{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.nav_bar{
  height: 42px;
  line-height: 42px;
  padding-right: 20px;
  text-align: right;
}

.shop-create-footer{
  width: 100%;
  padding: 10px 16px;
  text-align: right;
  background: #fff;
}

.at-upload-files-avatar {

  &-actions {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    a {
      color: white;
      padding: 4px;
    }
  }

  &-item {
    border: 1px solid #ececec;
    border-radius: 4px;
    float: left;
    width: 104px;
    height: 104px;
    margin: 0 8px 8px 0;
    padding: 8px;
    position: relative;
  }
  &-item-info {
    &:before {
      content: ' ';
      position: absolute;
      z-index: 1;
      background-color: rgba(0, 0, 0, .5);
      -webkit-transition: all .3s;
      transition: all .3s;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    position: relative;
    height: 100%;
    width: 100%;
  }
  &-preview {
    width: 100%;
    height: 100%;
  }
}

.category-list{
  margin: 20px;
  vertical-align: top;
  display: inline-block;
  width: 250px;
  border: 1px solid #ececec;
  h2{
    text-align: center;
  }
  .category-option{
    display: inline-block;
    float: right;
    margin-right: 20px;
  }
  .category-name{
    cursor: pointer;
    margin-left: 5%;
  }
  .category-item{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-top: 1px solid #ececec;
  }
  .category-create{
    position: absolute;
    top: 0;
    right: 20px;
  }
}

.product-attribute-title{
  padding: 16px 0;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #ececec;
}
